.FormRenderFeatureContainer {
    @include flex(column, $gap: 40px);
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    user-select: none;


    .formTitle {
        @include flex(row, center, center);
        color: $golden;
        width: 100%;
    }

    .formContainer {
        @include flex(column, start, $gap: 40px);
        width: 100%;
        flex: 1;



        .inputExternalContainer {
            @include flex(column, start, start);
            width: 100%;
            position: relative;

            label {
                user-select: none;
                color: $golden;
            }

            .labelOff {
                @include textbase();
                position: absolute;
                top: 8px;
                transition: top 0.5s ease;
                // @include border('bottom', $color: transparent);  
            }

            .labelOn {
                @include textbase();
                position: absolute;
                top: -20px;
                transition: top 0.3s ease;
                // @include border('bottom', $color: $golden);


            }

            .inputContainer {
                @include resetStyles();
                @include textbase();
                @include border('bottom', $color: $golden);
                color: $golden;
                padding-left: 10px;
                width: calc(100% - 10px);
                height: 30px;
                z-index: 100;


            }

            .inputPassContainer {
                @include flex(column, start, start);
                width: 100%;
                height: 30px;

                .inputPass {
                    @include resetStyles();
                    @include textbase();
                    @include border('bottom', $color: $golden);
                    color: $golden;

                    padding-left: 10px;
                    width: calc(90% - 10px);

                    height: 35px;
                    z-index: 100;

                }

                .hidePasswordButton {
                    @include resetStyles();
                    @include flex;
                    @include border('bottom', $color: $golden);
                    width: 10%;
                    height: 35px;

                    svg {
                        path {
                            fill: $golden;
                        }
                    }


                }
            }


            .errors {
                @include textbase();
                position: absolute;
                color: red;
                height: 27px;
                width: 79%;
                top: 50%;
                left: 25px;
                transform: translateY(-40%);
                // background-color: red;
            }
        }



    }


    .submitInfo {
        @include resetStyles();
        @include textbaseSemiBold();
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 0 0 1px $golden;
        background-color: $grey;
        color: $golden;

        &:hover {
            background-color: $golden;
            color: $grey;
        }

    }

}